---
import MeLayout from '../layouts/MyLayout.astro';
const title = "Dirgantara Praditya";
const subtitle = "Me";
---

<MeLayout title={title} subtitle={subtitle}>
<h4 class="bg-pink-500">{subtitle} Page</h4>
</MeLayout>