---
import '../styles/global.css'
interface Props {
    title : string,
    subtitle: string,
}

const {title, subtitle} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title} | {subtitle}</title>
</head>
<body>
    <h1 class="subtitle">{subtitle}</h1>
    <slot/>
</body>
</html>